@import "../../../../sass/variables";

.ui-button {
    border: none;
    border-radius: 5px;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 15px;

    &--form {
        width: 100%;
        background-color: $primary;
        color: #ffffff;
        &:hover,
        &:focus {
            text-decoration: none;
            background-color: $primary-hover;
        }
    }

    &--secondary-form {
        padding: 10px 15px;
        background-color: $primary;
        color: #ffffff;
        &:hover,
        &:focus {
            text-decoration: none;
            background-color: $primary-hover;
        }
    }
    &--primary {
        background-color: #0a101c;
        color: #ffffff;
        &:hover,
        &:focus {
            text-decoration: none;
            background-color: $primary;
        }
    }

    &--secondary {
        background-color: $primary;
        color: #ffffff;
        &:hover,
        &:focus {
            text-decoration: none;
            background-color: $primary-hover;
        }
    }

    &--icon {
        background: none;
        color: #0a101c;
        font-size: 1.5rem;
        padding: 0.5rem;
        border-radius: 4px;

        &:hover,
        &:focus {
            color: $primary;
            background: rgba(0, 0, 0, 0.05);
        }
    }

    &[disabled] {
        background-color: $disabled;
        cursor: not-allowed;
    }

    .spinner {
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 3px solid #ffffff;
        border-top: 3px solid transparent;
        border-radius: 50%;
        animation: spin 1s linear infinite;
    }

    .button-content-hidden {
        visibility: hidden;
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
