@use "../../../../sass/variables.scss" as *;
@use "../../../../sass/global.scss" as *;

.card {
    background: var(--secondary-bg);
    padding: 20px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    flex: 1;
    min-width: 200px;
    max-width: 300px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 16px;

    svg {
        font-size: 24px;
    }
}

.title {
    font-weight: bold;
    color: var(--text);
}

.value {
    font-size: 24px;
    font-weight: bold;
    color: $primary;
    text-align: center;
    margin-bottom: 20px;
}

.description {
    font-size: 12px;
    font-weight: bold;
    color: var(--secondary-text);
}

.spinnerContainer {
    background: var(--secondary-bg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    width: 30px;
    height: 30px;
    border: 3px solid var(--text);
    border-top: 3px solid $primary;
    margin-bottom: 10px;
    border-radius: 50%;
    animation: spin 10s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
