@import "./variables";
@import "./global.scss";
@font-face {
    font-family: "Mokoto";
    src: url("../js/src/assets/fonts/Mokoto.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Satoshi";
    src: url("../js/src/fonts/Satoshi.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Satoshi";
    src: url("../js/src/assets/fonts/Satoshi-Medium.ttf") format("truetype");
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: "Satoshi";
    src: url("../js/src/assets/fonts/Satoshi-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Verdana";
    src: url("../js/src/assets/fonts/Verdana.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Verdana";
    src: url("../js/src/assets/fonts/Verdana-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../js/src/assets/fonts/Roboto.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Tomorrow";
    src: url("../js/src/assets/fonts/Tomorrow.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Satoshi", "Verdana", sans-serif;
    background-color: var(--bg);
}

main {
    color: var(--text);
    background-color: var(--bg);
    margin: 0 auto;
}
