@import "../../../../sass/variables";
@import "../../../../sass/global.scss";

.container {
    width: 100%;
    margin: 0 auto;
    background: var(--secondary-bg);
    padding: 40px;
}

.navigation {
    display: flex;
    margin-bottom: 20px;

    a {
        padding: 5px 10px;
    }
}

.formContainer {
    padding: 20px;
    background: var(--secondary-bg);
}
.backLink {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    background-color: $primary;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s ease-in-out;

    &:hover {
        background-color: darken($primary, 10%);
    }

    svg {
        font-size: 16px;
    }
}

.section {
    margin-bottom: 20px;
}

.sectionTitle {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.col {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.row {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.inputGroup {
    flex: 1;
    margin-bottom: 15px;
}

.error {
    color: $error;
    font-size: 0.875rem;
    text-align: left;
    margin-bottom: 1rem;
}

.actions {
    display: flex;
    justify-content: flex-end;
}

.password-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    border: 2px solid var(--border);
    border-radius: 4px;
    transition: $transition;

    &:focus-within {
        border-color: $primary;
        outline: none;
    }
    .icons {
        display: flex;
        align-items: center;
    }
}

.password,
.confirmPassword {
    border: none;
}

.toggle-icon,
.info-icon {
    background-color: var(--secondary-bg);
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: var(--placeholder);
}

.info-icon {
    position: relative;

    &:hover .tooltip-content {
        display: block;
    }

    .tooltip-content {
        display: none;
        position: absolute;
        white-space: nowrap;
        right: 0;
        top: 25px;
        background-color: var(--secondary-bg);
        border: 1px solid var(--border);
        border-radius: 5px;
        padding: 10px;
        font-size: 12px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        z-index: 10;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .check-icon {
            color: $success;
            font-size: 14px;
            margin-right: 5px;
        }

        .times-icon {
            color: $error;
            font-size: 14px;
            margin-right: 5px;
        }
    }
}

.password-strength {
    margin-top: 5px;

    label {
        display: block;
        font-size: 14px;
        color: var(--placeholder);
    }

    .strength-label {
        font-size: 14px;
        font-weight: 500;
    }
}
