// resources/js/src/components/Admin/UserList.module.scss
@import '../../../../sass/variables.scss';

.userListContainer {
    padding: 40px;
}
.userListContainer h1 {
    font-size: 24px;
    text-align: left;
    font-weight: bold;
    margin-bottom: 20px;
}

.loading {
    font-size: 18px;
    color: #555;
}

.error {
    color: red;
    font-size: 16px;
    margin-top: 10px;
}

.searchInput {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out;
    margin-bottom: 20px;

    &:focus {
        border-color: $primary;
        outline: none;
    }

    &.filled {
        border-color: $primary;
    }
}

.filterContainer {
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.filter {
    margin-right: 20px;
    .select {
        transition: border-color 0.3s ease-in-out;
        min-width: 100px;

        &:focus {
            border-color: $primary;
            outline: none;
        }

        &.filled {
            border-color: $primary;
        }
    }
}

.table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    margin-bottom: 20px;
}

.table th,
.table td {
    padding: 10px;
    text-align: left;
    overflow: auto;
    border: 1px solid #ddd;
}

.table th {
    background-color: #f4f4f4;
}

.table td img {
    border-radius: 50%;
}

.actionColumn {
    display: flex;
    justify-content: center;
    gap: 10px; // Space between action buttons
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

.paginationButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 5px;
    font-size: 16px;
    border: none;
    background-color: $primary;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }

    &:hover:not(:disabled) {
        background-color: darken($primary, 10%);
    }

    svg {
        margin: 0;
    }
}

.actionBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 8px;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #f0f0f0;
    }

    svg {
        font-size: 20px;
        color: $black;
    }

    &:hover svg {
        color: $primary;
    }
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
}

.modalButtons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.confirmBtn {
    background-color: $primary;
    color: white;
    width: 80px;
    padding: 10px 0;
    margin-right: 10px;
    border: none;
    cursor: pointer;
}

.cancelBtn {
    background-color: grey;
    color: white;
    width: 80px;
    border: none;
    cursor: pointer;
}

.confirmBtn:hover {
    background-color: darken($primary, 10%);
}

.cancelBtn:hover {
    background-color: darkgrey;
}