@import "../../../sass/variables";
@import "../../../sass/global.scss";

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 5%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: padding 0.5s ease, box-shadow 0.5s ease; /* Smooth sticky transition */
    background-color: var(--secondary-bg);

    &-sticky {
        padding: 1rem 5%;
        box-shadow: $shadow;
    }

    &-brand {
        .navbar-logo {
            display: inline-block;
            font-size: 1.5rem;
            font-weight: 700;
            text-decoration: none;
            transition: $transition;
            color: var(--text);
            span {
                color: $primary;
            }
        }
    }

    &-toggle {
        display: none;
        background: none;
        border: none;
        cursor: pointer;
        padding: 0.5rem;

        @media (max-width: 768px) {
            display: block;
        }
    }

    &-menu {
        &-desktop {
            display: none;

            @media (max-width: 768px) {
                display: flex;
            }
        }

        @media (max-width: 768px) {
            width: 100%;
            position: absolute;
            top: 70px;
            left: 0;
            box-shadow: $shadow;
            background-color: var(--secondary-bg);
            visibility: hidden; /* Hidden by default */
            opacity: 0;
            transform: translateY(-20px);
            transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out,
                visibility 0.3s;
        }

        &-open {
            @media (max-width: 768px) {
                visibility: visible; /* Show when open */
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    &-links {
        display: flex;
        gap: 2rem;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;

        @media (max-width: 768px) {
            flex-direction: column;
            padding: 1rem;
            gap: 1rem;
        }
    }

    &-link {
        display: inline-block;
        text-decoration: none;
        font-weight: 500;
        padding: 0.8rem 1rem;
        border-radius: 4px;
        color: var(--text);
        transition: $transition;

        &:hover {
            text-decoration: none;
            color: $primary;
            outline: none;
        }

        &-active {
            color: $primary;
        }

        &:focus {
            color: $primary;
            transform: scale(1.05);
        }

        &-cta {
            display: inline-block;
            background: $primary;
            border-radius: 30px;
            padding: 0.8rem 2rem;
            color: #fff;
            &:hover {
                text-decoration: none;
                background: $primary-hover;
                color: #fff;
                transform: translateY(-2px);
                box-shadow: 0 4px 15px rgba($primary, 0.3);
            }

            &:focus {
                color: #fff;
                background: $primary;
                transform: scale(1.05);
            }
        }
    }
}
