@import "../../../sass/variables";
@import "../../../sass/global.scss";
.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    padding: 0 5px;
    overflow: hidden;
    display: flex;
    background-color: var(--secondary-bg);
    flex-direction: column;
    transition: width 0.3s ease-in-out, padding 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    &.open {
        width: 300px;
    }

    &.close {
        width: 60px;
        padding: 0 5px;
        .label,
        .subMenuLink,
        .userInfo,
        .arrow,
        .userArrow {
            opacity: 0;
            transform: translateX(-10px);
        }

        .icon,
        .userIcon {
            margin-right: 20px;
        }

        .sidebarLink,
        .dropdownBtn,
        .userBtn {
            justify-content: flex-start;
        }

        .toggleBtn {
            justify-content: flex-start;
        }
    }
}

.sidebarList {
    list-style: none;
    padding: 0;
    flex-grow: 1;
    overflow-y: auto;
}

.sidebarItem {
    white-space: nowrap;
    overflow: hidden;
    padding: 0 3px 10px;
}

.toggleItem {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px 0;

    .toggleBtn {
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: var(--text);
        padding: 0.5em;
        margin-right: 3px;
        width: 50px;
        font-size: 24px;
        transition: all 0.15s ease-in-out;

        &:hover {
            color: $primary;

            background-color: transparent;
        }
    }
}

.sidebarLink {
    border-radius: 0.5em;
    padding: 0.5em;
    text-decoration: none;
    color: var(--text);
    display: flex;
    align-items: center;
    transition: color 0.15s ease-in-out;

    &:hover {
        color: $primary;
        text-decoration: none;
    }

    &.active {
        border-right: 4px solid $primary;
        border-bottom: 1px solid $primary;
        background-color: rgba(255, 255, 255, 0.1);

        .icon {
        }
    }
}

.dropdownBtn {
    border-radius: 0.5em;
    padding: 0.5em;
    color: var(--text);
    display: flex;
    align-items: center;
    width: 100%;
    text-align: left;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.15s ease-in-out;

    &.active {
        border-right: 4px solid $primary;
        border-bottom: 1px solid $primary;
        background-color: rgba(255, 255, 255, 0.1);

        .icon {
        }
    }

    &:hover {
        color: $primary;
    }

    &.rotate {
        .arrow {
            transform: rotate(360deg);
        }
    }
}

.icon {
    flex-shrink: 0;
    font-size: 24px;

    margin-right: 20px;
    transition: margin-right 0.3s ease-in-out;
}

.label {
    font-size: 14px;
    width: 100%;
    opacity: 1;
    transition: opacity 0.3s ease-in-out 0.1s, transform 0.3s ease-in-out 0.1s;
    transform: translateX(0);
}

.arrow {
    margin-left: auto;
    font-size: 24px;
    opacity: 1;
    transition: opacity 0.3s ease-in-out 0.1s, transform 0.3s ease-in-out 0.1s,
        rotate 0.15s ease-in-out;
    transform: translateX(0);
}

.subMenu {
    list-style: none;
    padding-left: 50px;
    transition: max-height 0.15s ease-in-out, opacity 0.15s ease-in-out;
    max-height: 0;
    opacity: 0;
    overflow: hidden;

    &.show {
        opacity: 1;
        max-height: 200px;
    }

    .subMenuLink {
        display: block;
        padding: 0.5em;
        color: var(--text);
        text-decoration: none;
        font-size: 14px;
        opacity: 1;
        transition: opacity 0.3s ease-in-out 0.15s,
            transform 0.3s ease-in-out 0.15s, color 0.15s ease-in-out;
        transform: translateX(0);

        &:hover {
            color: $primary;
        }

        &.active {
            color: $primary;
            background-color: var(--active-menu);
        }
    }
}
