@import "../../../../sass/variables";
@import "../../../../sass/global.scss";

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    margin: 100px 0;
    width: 100%;
    max-width: 600px;
    padding: 0 40px 40px;
    border-radius: 8px;

    h1 {
        font-size: 2rem;
        margin-bottom: 20px;
        text-align: center;
    }

    p {
        margin-top: 15px;
        text-align: center;
        font-size: 14px;
    }
}

.error {
    color: $error;
    font-size: 0.875rem;
    text-align: center;
    margin-bottom: 1rem;
}

.form-group {
    margin-bottom: 15px;

    label {
        display: block;
        margin-bottom: 1rem;
        font-weight: bold;
    }

    input {
        outline: none;
        width: 100%;
        padding: 15px 10px;
        border: 2px solid var(--border);
        border-radius: 4px;
        background-color: var(--secondary-bg);
        transition: border-color 0.3s ease-in-out;
        color: var(--text);
        &:focus {
            border-color: $primary;
        }
        &::placeholder {
            color: var(--placeholder);
        }
    }
}

.password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    border: 2px solid var(--border);
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out;
    background-color: var(--secondary-bg);
    input {
        border: none;
        flex-grow: 1;
        outline: none;
        color: var(--text);
    }

    &:focus-within {
        border-color: $primary;
    }
}

.toggle-icon {
    cursor: pointer;
    color: var(--placeholder);
    padding: 10px;
    font-size: 18px;
    transition: $transition;

    &:hover {
        color: $primary;
    }
}

.forgot-password-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    label {
        margin: 0;
    }
}

.forgot-password-link {
    font-size: 14px;
    color: $primary;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.link {
    color: $primary;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
